%article.business_list
  %header.business
    .container
      .row
        .col-sm-10.col-sm-offset-1
          %h1 List of all Businesses:
          %ul
            - @businesses.each do |business|
              %li.h3= link_to "#{business.name}", business_path(business.id)
