%section.sign_in.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_tag(url: '/sign_in', layout: :default, label_col: "col-sm-2", control_col: "col-sm-4", class: "sign_in") do |f|
        %header
          %h1 Sign in
        %fieldset
          = f.text_field :username, label: "Username"
          = f.password_field :password
        %fieldset.form-group.action
          = f.submit "Sign in", class: "btn btn-default", id: "sign_in_button"
