%section.site_title
  %h1
    = link_to "Register now", new_user_path
    to find Reviews on Local Businesses
  %p.sign_up
  %p.sign_in
    Already have an account? Please
    = link_to "Sign In", sign_in_path
    