%section.user
  %article
    .container
      .row
        .col-sm-10.col-sm-offset-1
          %header
            %h2 Profile of: John Doe

%section.user_reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      %header
        %h3 Total Reviews (12)
      %ul
        - 12.times do
          %article.review
            %li.row
              .col-sm-2
                %p Review of: </br><a href="">Mr Chippy</a>
              .col-sm-8
                %p In my opinion, this is one of the best local takeaway shops.
